/*CSS for the options page */
.ncBody {
    width: 70%;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.ncHeader {
    font-size: medium;
}

.ncCategory {
    border: 2px solid #ccc;
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 12px;
}

.ncCategory h2 {
    margin-top: 0px;
}

.ncShortInput {
    width: 52px;
    text-align: center;
}

.ncUrlInput {
    margin-left:50px;
}

#ncTextAreaNotice {
    margin-left: 5px;
    font-size: medium;
}

.ncCategory .ncSaveButton {
    margin: 10px;
    margin-left: 0px;
    background-color: #406bdb;
    border: none;
    padding: 15px 15px;
    display: inline-block;
    border-radius: 8px;
}

.ncSaveButtonText {
    text-decoration: none;
    font-size: medium;
    text-align: center;
    color: white;
    vertical-align: middle;
    padding: 2px;
}

.ncSaveButtonIcon {
    text-decoration: none;
    text-align: center;
    color: white;
    vertical-align: middle;
    padding: 2px;
}

.ncCloseButton {
    margin-right: auto;
    margin-left: auto;
    display: block;
    margin-top: 60px;
    background-color: #db8484;
    border: none;
    padding: 40px 100px;
    border-radius: 8px;
}

.ncCloseButtonText {
    text-decoration: none;
    font-size: x-large;
    text-align: center;
    color: white;
    vertical-align: middle;
    padding: 2px;
}

.ncCloseButtonIcon {
    text-decoration: none;
    font-size: 40px !important;
    text-align: center;
    color: white;
    vertical-align: middle;
    padding: 2px;
}

.ncCloseButton:hover {
    background-color: #bd7171;
}

.ncCategory label {
    font-size: medium;
}

.ncCategory .ncSaveButton:hover {
    background-color: #3960c4;
}

.ncCategory checkbox {
    margin-left: 0px;
}

.ncCategory .ncOptionAttribute {
    margin-top: 5px;
    margin-bottom: 5px;
}

.helpText {
    font-size: small;
    color:#d1a700;
    margin-left: 10px;
}

.ncCategory:hover {
    background: #f7f9ff;
}

#ncStatus {
    height: 20px;
    color: green;
}

.ncFooter {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: fit-content;
    padding: 10px 20px;
    margin-bottom: 25px;
}

.ncFooter p {
    margin: 0;
}

/* CSS for image rotation */
@keyframes ncRotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

/* CSS for censored image alteration */
.ncCensoredContent {
    filter: blur(17px) !important;
    opacity: .5 !important;
}

.ncCensoredContainer {
    /* background-color: rgba(0,0,0,1); */
    background: black !important;
    position: relative !important;
    text-align: center !important;
    color: white !important;
    overflow: hidden !important;
    word-wrap: normal !important;
}

.ncCensoredText {
    visibility: visible !important;
    position: absolute !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
}